.navbar {
  position: fixed;
  width: 100%;
  z-index: 5;
}

.navbar-brand {
  font-size: 30px;
  transition: all 1s;
}

.process {
  background-color: black;
  height: 10px;
  width: 1%;
  /* transition: all 1s; */
}

.darkMode {
  background: black;
  color: white;
}

.list-group {
  overflow: hidden;
  height: 0px;
  transition: all 1s;
}

.show {
  overflow: auto;
  height: 220px;
}

.black-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  padding: 30px;
  visibility: hidden; /* 애니메이션 줄 때, display: none 대용 */
  /* display: none ---> html에서 아예 제거 */
  /* visibility: hidden ---> 모습만 숨김 */
  opacity: 0; /* 투명 */
  transition: all 1s;
}

.white-bg {
  background: white;
  border-radius: 5px;
  padding: 30px;
}

.showModal {
  opacity: 1;
  visibility: visible;
  /* display: block; */
}

.slide-container {
  width: 300vw;
  /* 브라우저의 3배 */

  /* transform: translate(-100vw); */
  /* margin-left: -200vw; 보다 부드러움 */
  transition: all 1s;
}

.slide-box {
  width: 100vw;
  /* 브라우저 폭 100vw */
  float: left;
}

.slide-box img {
  width: 100%;
}
